<div class="container" ng-controller="MainCtrl">
  
  <div class="row span12 title form-inline">
    <div class="topTitle">AngularJS</div> <div class="script">SignIt!</div>
  </div>

  <div class="row span8 offset2">
    <div class='papers'>
      <form name="sigForm" class="form-inline" ng-submit="saveSignature()">

        <select name='petition' ui-select2 ng-model="select2" ui-event="{ change : 'pickPetition(select2)' }" ng-change="getSignatures(select2)">
          <option value="">Choose something to sign, then sign it!</option>
          <option ng-repeat="petition in petitionCollection.models" value="{{petition.id}}">{{petition.get('Title')}}</option>
        </select>

        <div class="well description">
          {{petitionDescription}}
        </div>

        <!-- Name Field -->
        <div class="control-group">
          <div class="control">
            <input type="text" class="span2" placeholder="First Name" ng-model="user.firstName" ng-disabled="formDisabled" required>
            <input type="text" class="span3" placeholder="Last Name" ng-model="user.lastName" ng-disabled="formDisabled" required> 
            <input type="email" class="span3" placeholder="Email" ng-model="user.email" ng-disabled="formDisabled" required> 
          </div>
        </div>

        <!-- Signature Pad -->
        <div class="control-group">
          <sigpad ng-model='user.signature' clearBtn=".clearButton" name="signature" required></sigpad>
        </div>

        <div class="control-group buttons">
          <input  type="button" 
                  class="btn clearButton span2" 
                  value="Clear" 
                  ng-click="clearData()"/>
          <input  type="submit" 
                  class="btn btn-primary saveButton span2 pull-right" 
                  value="Save" 
                  ng-disabled="sigForm.$invalid" 
                  ng-class="{disabled:sigForm.$invalid}"/>
        </div>
      </form>

      <hr />

      <h3>Signatories:</h3>
      <div>
        <table class="table table-striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th class="script">Signature</th>
              </tr>
          </thead>   
          <tbody>
            <tr ng-repeat="signed in signatureList">
              <td>{{signed.get('firstName')}} {{signed.get('lastName')}}</td>
              <td>{{signed.get('email')}}</td>
              <td>
                <regensigpad sigdata={{signed.get('signature')}}></regensigpad>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- paper -->
</div>

</div>
